body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel * {
  background: white;
}

.carousel li.slide img {
  height: 350px;
}

.carousel li img {
  border: 1px solid black;
  height: 80px;
}

.carousel .control-dots {
  background: transparent;
}

.carousel .thumbs {
  overflow-x: auto;
}

.carousel.carousel-slider .control-arrow {
  display: none;
}